@charset "UTF-8";

/*Zona de definição de variáveis*/
:root {
    --cor-theme: rgb(27, 27, 27);
}

/*Ajustes gerais*/
*{
    margin: 0;
    padding: 0;
    font-family: 'open-sans', sans-serif;
}

/*Configurando a(s) fonte(s)*/
@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/static/OpenSans-Regular.ttf');
}

/*Definidno áreas do container*/
#container {
    display: grid;
    grid-template-columns: .10fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navegation dashboard";
    gap: 10px;
    width: 100%;
    height: 100vh; /*Medida = visual height, ou seja, toda a altura visível na tela */
}

/*Areas do display grid container*/
#navegation {
    grid-area: navegation;
    background-color: rgb(207, 207, 207);
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

a {
    text-decoration: none;
    color: #0077cc;
    transition: color 0.3s ease;
    text-decoration: underline;
    padding: 5px 10px; 
    text-transform: uppercase; 
    transition: text-transform 0.3s ease; 
}

a:hover {
    color: #004466;
    text-decoration: none;
    text-transform: lowercase;
  }

#navegation li a .font-link{
    width: 100px;
    height: 100px;
    display: block;
    cursor: pointer;
  }

/*area de dashboard, onde os resumos mensais aparecerão, bem como informações o perfil, conta e gráficos*/
#dashboard {
    grid-area: dashboard;
    background-color: rgb(207, 207, 207);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .15fr .25fr 1fr;
    grid-template-areas: "user-zone"
                        "dash-zone"
                        "plot-zone";
    width: 100%;
    height: 100%;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-right: 10px;
   
    background-color: aliceblue;
    
}

/*Definindo as áreas que serão utilizadas no dashboard*/
#user-zone {
    grid-area: user-zone;
    background-color: rgb(158, 158, 158);
    display: grid;
    grid-template-columns: .7fr .3fr;
    grid-template-rows: 100%;
    gap: 5px;
    grid-template-areas: "month user-data";
    width: 100%;
    height: 100%;
}

/*Zonas dos user-zona*/
#month {
    grid-area: month;
    background-color: aliceblue;
}

#user-data {
    grid-area: user-data;
    background-color: aliceblue;
}

#dash-zone {
    grid-area: dash-zone;
    background-color: rgb(158, 158, 158);
}

#plot-zone {
    grid-area: plot-zone;
    background-color: rgb(158, 158, 158);
}

/*Lista com os resumos financeiras*/
#dash-zone > ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#dash-zone > ul > li{
    width: 250px;
    height: 90px;
    border-radius: 15px;
    margin: 0 10px;
    background-color: rgb(120, 109, 163);
}

/*Itens do menu de navegação*/
#navegation > ul{
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 50%;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#navegation > ul > li {
    font: normal normal .9em 'open-sans', sans-serif;
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}